@model  MagicProject.Controllers.Parms
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OCC</title>
</head>
<body>
    <script>
        function aaa() {
            f = document.getElementById("first");

            f.action = "Index";
            f.submit();
        }
        function bbb() {
            f = document.getElementById("first");

            f.action = "PRF";
            f.submit();
        }

    </script>


    <div class="container">
        <header>
            <h1 class="text-center text-primary"> Welcome Magic </h1>
        </header>
        <main class="mt-4">
            <div class="row">
                <div class="col-6 a1-main">
                    <h3>Выбрать Занятость?</h3>
                    <form action="~/Magic/FRM" id="first" class="form-check">
                        <input type="hidden" name="prf" value="@Model.prf" />
                        <p>Какой Профессия: @Model.prf</p>
                        @foreach (var r in ViewBag.Zaynits)
                        {
                            <input type="radio" id="radioButton1" value="@r.ID" name="occ"> <label for="radioButton1">@r.Name</label><br />
                        }

                        <div class="d-flex mt-2">
                            <button onclick="aaa();" class="btn btn-secondary btn-sm">Index</button>
                            <button class="btn btn-success btn-sm" style="margin: 0 10px" onclick="bbb();">Prev</button>
                            <button class="btn btn-primary btn-sm">Next</button><br />
                        </div>
                    </form>
                </div>


            </div>

        </main>

    </div>
</body>
</html>
